In [1]:
import pandas as pd
import os
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
pop_data_list = os.listdir('./data/pop/LOCAL_PEOPLE_201912')
pop_data_list

['LOCAL_PEOPLE_20191201.csv',
 'LOCAL_PEOPLE_20191202.csv',
 'LOCAL_PEOPLE_20191203.csv',
 'LOCAL_PEOPLE_20191204.csv',
 'LOCAL_PEOPLE_20191205.csv',
 'LOCAL_PEOPLE_20191206.csv',
 'LOCAL_PEOPLE_20191207.csv',
 'LOCAL_PEOPLE_20191208.csv',
 'LOCAL_PEOPLE_20191209.csv',
 'LOCAL_PEOPLE_20191210.csv',
 'LOCAL_PEOPLE_20191211.csv',
 'LOCAL_PEOPLE_20191212.csv',
 'LOCAL_PEOPLE_20191213.csv',
 'LOCAL_PEOPLE_20191214.csv',
 'LOCAL_PEOPLE_20191215.csv',
 'LOCAL_PEOPLE_20191216.csv',
 'LOCAL_PEOPLE_20191217.csv',
 'LOCAL_PEOPLE_20191218.csv',
 'LOCAL_PEOPLE_20191219.csv',
 'LOCAL_PEOPLE_20191220.csv',
 'LOCAL_PEOPLE_20191221.csv',
 'LOCAL_PEOPLE_20191222.csv',
 'LOCAL_PEOPLE_20191223.csv',
 'LOCAL_PEOPLE_20191224.csv',
 'LOCAL_PEOPLE_20191225.csv',
 'LOCAL_PEOPLE_20191226.csv',
 'LOCAL_PEOPLE_20191227.csv',
 'LOCAL_PEOPLE_20191228.csv',
 'LOCAL_PEOPLE_20191229.csv',
 'LOCAL_PEOPLE_20191230.csv',
 'LOCAL_PEOPLE_20191231.csv']

In [10]:
df = pd.read_csv('./data/pop/19년 12월 집계구코드별 평균생활인구수.csv')
df.head()

           집계구코드   구별총생활인구수  구별총생활인구수(월평균)
0  1101053010001   277143.0    8940.096774
1  1101053010002  1373417.0   44303.774194
2  1101053010003  1245899.0   40190.290323
3  1101053010004  1515584.0   48889.806452
4  1101053010005  1038484.0   33499.483871

In [11]:
len(df['집계구코드'].unique())

19153